nav {
  background: whitesmoke;
  box-shadow: 0 1px 6px 0 rgb(88, 88, 85);
}
h4 {
  padding-left: 30px !important;
}
button {
  margin-left: auto !important;
  margin-right: 30px !important;
}
a {
  text-decoration: none !important;
  color: white !important;
}